Repository xebia-functional/xef, pull requests merged in 2023-11, with the labels that each got.

#514 Scala examples refactor
  README.md
  docs/intro/scala.md
  examples/scala/build.gradle.kts
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/Simple.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/context/serpapi/Simple.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/context/serpapi/UserQueries.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/images/HybridCity.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/iteration/AnimalStory.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/iteration/ChessGame.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/serialization/Annotated.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/examples/scala/serialization/Simple.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/contexts/BreakingNews.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/contexts/DivergentTasks.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/contexts/Markets.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/contexts/PDFDocument.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/contexts/Weather.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/conversations/Animal.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/fields/Book.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/image/Population.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/serialization/ASCIIArt.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/serialization/ChessAI.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/serialization/Movie.scala
  examples/scala/src/main/scala/com/xebia/functional/xef/scala/conversation/serialization/Recipe.scala
  gradle.properties
  scala/README.md
  scala/src/main/scala/com/xebia/functional/xef/scala/conversation/KotlinXSerializers.scala
  scala/src/main/scala/com/xebia/functional/xef/scala/conversation/package.scala
  scala/src/main/scala/com/xebia/functional/xef/scala/serialization/KotlinXSerializers.scala
  scala/src/main/scala/com/xebia/functional/xef/scala/serialization/SerialDescriptor.scala
  scala/src/main/scala/com/xebia/functional/xef/scala/serialization/SerialDescriptorInstances.scala
  scala/src/test/scala/com/xebia/functional/xef/scala/serialization/SerialDescriptorSpec.scala
Labels: documentation, enhancement, openAI, Prompts, scala

#516 Upgrade Gradle to 8.4 & Scala JVM to 21; clean up build scripts
  .github/workflows/publish-development-version.yml
  .github/workflows/publish.yml
  .run/build.run.xml
  .run/spotless.run.xml
  .run/test.run.xml
  .run/wrapper.run.xml
  README.md
  build.gradle.kts
  buildSrc/src/main/kotlin/JavaPublishingConventionsPlugin.kt
  buildSrc/src/main/kotlin/Predef.kt
  buildSrc/src/main/kotlin/ScalaPublishingConventionsPlugin.kt
  config/detekt/detekt.yml
  core/build.gradle.kts
  detekt-rules/build.gradle.kts
  detekt-rules/src/test/kotlin/org/example/detekt/JvmInlineAnnotationTest.kt
  detekt-rules/src/test/kotlin/org/example/detekt/PublicDataClassConstructorWithValueParametersTest.kt
  docs/intro/scala.md
  examples/java/build.gradle.kts
  examples/kotlin/build.gradle.kts
  examples/scala/.scalafmt.conf
  examples/scala/build.gradle.kts
  filesystem/build.gradle.kts
  gpt4all-kotlin/README.MD
  gpt4all-kotlin/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  integrations/gcp/README.MD
  integrations/gcp/build.gradle.kts
  integrations/lucene/build.gradle.kts
  integrations/mlflow/build.gradle.kts
  integrations/opentelemetry/build.gradle.kts
  integrations/pdf/build.gradle.kts
  integrations/postgresql/build.gradle.kts
  integrations/sql/build.gradle.kts
  java/README.md
  java/build.gradle.kts
  kotlin/build.gradle.kts
  models/gpt4all/get-models.sh
  openai/build.gradle.kts
  reasoning/build.gradle.kts
  scala/.scalafmt.conf
  scala/README.md
  scala/build.gradle.kts
  server/README.md
  server/build.gradle.kts
  server/web/README.md
  settings.gradle.kts
  tokenizer/build.gradle.kts
Labels: documentation, dependencies, build

#539 [DOC] - Fix some documentations
  README.md
  docs/intro.md
  examples/src/main/kotlin/com/xebia/functional/xef/conversation/sql/README.md
Labels: documentation
